/* *{
  margin:0;
}

html{
  height: 100vh;
}
.ripple-wrap {
  position: relative;
}

.ripple-wrap canvas {
  position: absolute;
  z-index: 1;
}

body {
  display: flex;
justify-content: space-between;
height: 100%;
} */
html, body {
  background: #111;
}
body {
  display: flex;
justify-content: space-between;
height: 100%;
}
#container {
  background: #111;
  left: 0;
  top:0;
}



