* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(./fonts/Equinox_Bold.otf);
}

html, body {
  height: 100%;
  margin: 0;
  background:  rgba(0, 0, 0, .65) url(./media/background12.jpg) no-repeat top fixed;
  background-size: cover;
  font-family: 'Title', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: white;
  width: 100%;
  background-blend-mode: darken;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

img{
  width:15%;
  position: absolute;
  top:50%;
  left:0;
  padding-left: 1rem;
}

body>div {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#output {
  position: absolute;
  bottom: 0;
  right: 0;
  clip-path: circle(120px at center);
}

#particleSwarm {
  justify-self: center;
}

