* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(./fonts/Equinox_Bold.otf);
}

html, body {
  height: 100%;
  margin: 0em;
  font-family: 'Title', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
  /* width:100%; */
}

.page{
  background-size: cover;
  color:white
}
body>div {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

canvas {
  background: #111;
}